<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TennisMoment.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A8C19D8C299E77CB0011F37A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8C19DA5299E77CC0011F37A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8C19DAF299E77CC0011F37A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
